* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-family: 'Source Code Pro', serif;
    border-bottom: solid #fff 3px; // rgb(66, 129, 250)
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.sidebar {
    position: fixed;
    background: #2c3e50; // rgb(62, 73, 81);
    width: 250px;
    height: 100%;
    padding: 20px;
}

.sidebar {
    color: #fff;
}

.sidebar .desc {
    text-align: justify;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}

.sidebar .app-config textarea {
    width: 100%;
    padding: 5px 10px;
    outline: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}

.app-config label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

.sidebar .log-filter {
    padding-left: 0;
    list-style: none;
}

.sidebar .log-filter li {
    line-height: 26px;
}

.sidebar .log-filter label {
    cursor: pointer;
    font-size: 20px;
}

.log-container {
    margin-left: 250px;
    height: 100%;
}

.log-container #no-logs {
    color: #ccc;
    margin: 0;
    font-family: 'Source Code Pro', serif;
    text-align: center;
    font-size: 34px;
    padding-top: 300px;
}

.logs {
    margin: 0;
    display: none;
    color: #888;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.logs li {
    padding: 5px;
    font-size: 16px;
}

.logs li span {
    display: inline-block;
}
.logs li .type, .logs li .level, .logs li .timestamp {
    text-transform: uppercase;
    color: #fff;
    padding: 3px 7px;
    font-size: 18px;
    border-radius: 3px;
    margin-right: 5px;
    text-align: center;
    background: #95a5a6;
}

.logs li.odd {
    background-color: #f5f5f5;
}

/* SPINNER */

.spinner {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    display: none;
    margin: 50px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}


/* FONT AWESOME RADIO AND CHECKBOXES */

input[type="radio"],
input[type="checkbox"] {
    display: none;
}
label:before {
    font-family: 'FontAwesome',serif;
    width: 1.25em;
    display: inline-block;
}
input[type="radio"] + label:before  {
    content: "\f10c"; /* circle-blank */
}
input[type="radio"]:checked + label:before {
    content: "\f111"; /* circle */
}
input[type="checkbox"] + label:before {
    content: "\f0c8"; /* check-empty f0c8 f096 */
}
input[type="checkbox"]:checked + label:before {
    content: "\f14a"; /* check f14a f046*/
}